<html>
    <header>  
{%block stylesheets%}
{% stylesheets '@AcmeHelloBundle/Resources/public/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock stylesheets%}

        </header>
        <body>
            
            <table>

                <tr>
            {% for a in address %}
                        <td><div class="posters">{{a.address}}<a href="{{path('map_page',{'id':a.id})}}"><br>看地图</a></div></td>
            {% endfor %}</tr>
                </table>

            </body>
        </html>