<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script>
            var customIcons = {
                restaurant: {
                    icon: 'http://labs.google.com/ridefinder/images/mm_20_blue.png'
                },
                bar: {
                    icon: 'http://labs.google.com/ridefinder/images/mm_20_red.png'
                }
            };

            function load() {

                var map = new google.maps.Map(document.getElementById("map"), {
                    center: new google.maps.LatLng(47.608940, -122.340141),
                    zoom: 11,
                    mapTypeId: 'roadmap'
                });
                var infoWindow = new google.maps.InfoWindow;
                //var latlng=new array();
                // var lat = new array()
                var lat = document.getElementById("lat").value;
                var lng = document.getElementById("lng").value;
                // var lng = document.getElementById("lng").value;
                //alert(lat);
                var myCenter = new google.maps.LatLng(lat, lng);
                var marker;
                marker = new google.maps.Marker({
                    position: myCenter,
                    animation: google.maps.Animation.BOUNCE
                });

                marker.setMap(map);
                var name = document.getElementById("addressname").value;
                bindInfoWindow(marker, map, infoWindow, name);
            }
            function bindInfoWindow(marker, map, infoWindow, name) {
                google.maps.event.addListener(marker, 'click', function() {
                    infoWindow.setContent(name);
                    infoWindow.open(map, marker);
                });
            }

            </script>
        </head>
        <body onload="load()">
       {% block container%}

            {% endblock %}
            </body>
        </html>
