<!DOCTYPE html >
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>PHP/MySQL & Google Maps Example</title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="src/Acme/HelloBundle/Resources/public/js/javascript.js"></script>
  </head>

  <body onload="load()">
    <div id="map" style="width: 800px; height: 500px; border: solid 1px;" ></div>
	
	{% for a in address%}
	{{a}}
	{% endfor %}
  </body>

</html>